/* Основные стили */
.wrapper {
    .top-slider {
        min-width: 0; //для того что бы слайдер показался, если он является флекс элементом
    }
}

/* Слайдер */
.slick-slider {
    overflow: hidden; //прячет лишний контент при прокрутке
}

/* Ограничивающая оболочка */
.slick-list {}

/* Лента слайдов */
.slick-track {
    display: flex; //для того что бы слайдер показался нужно задать это свойство
    position: relative;
}

