@import "fonts";
@import "null";
@import "slick-slider";
@import "variables";

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    background-color: #e6efb7; //потом удалить
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%; //если не указать высоту флек-контейнера, то футер не будет прибиваться к низу страницы
    overflow: clip;
}

.header {
    background: $main-color;

    &__inner {
        min-height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

.main {
    flex: 1 1 auto;
    height: 100%;
}

.footer {}

[class*="__container"] {
    min-width: 320px;
    padding: 0 20px;
}

//header
.logo {
    &__link {
        margin-left: 8px;
    }
}

.menu {

    &__btn {
        width: 40px;
        height: 40px;
        border-radius: 3px;
        background-color: #fff;
        position: relative;

        &::after {
            content: "";
            width: 12px;
            height: 2px;
            border-radius: 1px;
            background-color: $main-color;
            position: absolute;
            top: 15px;
            left: 14px;
            box-shadow: 0 4px 0 0 $main-color, 0 8px 0 0 $main-color;
        }
    }
}

//HEAD START

.head {
    min-height: 193px;
    background: url('../img/head/bg.jpg') 0px 0px/cover no-repeat;
    position: relative;
}

.top-slider {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;

    &__item {
        color: #fff;
        text-align: center;
    }
}

.top-slider__item {
    margin-top: 45px;
    padding: 0 70px;

    &::after {
        content: '';
        display: block;
        height: 8px;
        width: 61px;
        background: #4A4A4A;
        margin: 0 auto;
        margin-top: 20px;
    }
}


.top-slider__title {
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
    font-family: Roboto;
    line-height: 28px;
}

.slick-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); /* Добавлено для центрирования точек */
    button {
        font-size: 0;
    }
    li.slick-active {
        background-color: transparent;
        border: 1px solid #2B4074;
        transform: translate(0 , 1px)   // что б небыло визуальных прыжков
    }
    li {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #2B4074;
        border-radius: 50%;
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}

//HEAD END

/*-------BREAKPOINTS-------*/
@import "breakpoints.scss";
/*ОСТАВЛЯТЬ ЭТО ВСЕ В САМОМ НИЗУ*/