@import "fonts";
@import "null";
@import "slick-slider";

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    background-color: #e6efb7;  //потом удалить
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;  //если не указать высоту флек-контейнера, то футер не будет прибиваться к низу страницы
    overflow: clip;
}
.header {
}
.main {
    flex: 1 1 auto;
}
.footer {
}





/*-------BREAKPOINTS-------*/
@import "breakpoints.scss";
/*ОСТАВЛЯТЬ ЭТО ВСЕ В САМОМ НИЗУ*/
